:root {
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --fundo: #ffffff;

    --Font-size-paragraph: 16px;
}


/* ------------------------------ORGANIZAÇÃO DA ESTRUTURA DO SITE------------------------------ */
.body {
    display: grid;
    grid-template:
        "cabecalho" 130px
        "main" auto
        "aside" 300px
        "rodape" minmax(350px, auto);
}

.cabecalho {
    grid-area: cabecalho;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.rodape {
    grid-area: rodape;
}


/* --------------------ORGANIZAÇÃO DO CABEÇALHO-------------------- */
.body .cabecalho {
    padding: 0 50px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}

.body .cabecalho img {
    width: 166px;
    height: 49px;
}

.body .cabecalho .navegacao ul {
    display: flex;
    gap: 35px;
    font-family: 'Raleway';
}

.body .cabecalho .navegacao ul li a {
    color: var(--Very-Dark-Blue);
}

/* --------------------ORGANIZAÇÃO DO MAIN-------------------- */

/* --------------------ORGANIZAÇÃO DA PRIMEIRA SEÇÃO-------------------- */
.body .main .primeiro-quadro {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(159, 172, 147); */
    padding: 0 50px 0 70px;
    width: auto;
    height: auto;
}

.body .main .primeiro-quadro .informacoes {
    width: 550px;
    height: auto;
}

.body .main .primeiro-quadro .informacoes h1 {
    font-size: 37px;
    font-family: 'Raleway';
    line-height: 130%;
    color: var(--Very-Dark-Blue);
    margin: 80px 0 15px 0;
}

.body .main .primeiro-quadro .informacoes p {
    font-size: 16px;
    font-family: 'Open Sans';
    color: var(--Very-Dark-Blue);
    padding: 0 15px 0 0;
    margin: 0 0 15px 0;
}

.body .main .primeiro-quadro .informacoes form input[type=email] {
    padding: 10px 120px 10px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.body .main .primeiro-quadro .informacoes form input[type=email]:invalid {
    border: 1px solid red;
}

.body .main .primeiro-quadro .informacoes form input[type=email]:hover {
    border: 1px solid black;
}

.body .main .primeiro-quadro .informacoes form input[type=submit] {
    padding: 11px 50px 11px 50px;
    border: none;
    border-radius: 5px;
    color: var(--fundo);
    background-color: var(--Bright-Blue);
}

.body .main .primeiro-quadro .informacoes form input[type=submit]:hover {
    background-color: hsl(224, 93%, 58%, 0.6);
    cursor: pointer;
}

.body .main .primeiro-quadro img {
    width: 600px;
    height: 450px;
    margin: 0 0 100px 0;
}

/* -------ORGANIZAÇÃO DA IMAGEM CURVADA------- */
.body .main img {
    width: clamp(300px, 100%, 100%);
    margin: 0 0 -5px 0;
}

/* --------------------ORGANIZAÇÃO DA SEGUNDA SEÇÃO-------------------- */
.body .main .segundo-quadro {
    display: flex;
    justify-content: space-between;
    background-color: var(--Light-Grayish-Blue);
    padding: 0 50px 0 70px;
    width: auto;
    height: auto;
}

.body .main .segundo-quadro .informacoes {
    width: 610px;
    height: auto;
    /* background-color: rgb(137, 192, 85); */
}

.body .main .segundo-quadro .informacoes h1 {
    font-family: 'Raleway';
    font-size: 37px;
    color: var(--Very-Dark-Blue);
    margin: 0 0 25px 0;
}

.body .main .segundo-quadro .informacoes p {
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 0 65px 0 0;
    color: var(--Very-Dark-Blue);
    margin: 0 0 20px 0;
}

.body .main .segundo-quadro .informacoes a {
    color: var(--Moderate-Cyan);
    padding: 5px 0;
    border-bottom: 1px solid;
}

.body .main .segundo-quadro .informacoes a:hover {
    color: hsl(170, 45%, 43%, 0.6);
}

.body .main .segundo-quadro .informacoes a img {
    width: 20px;
    height: 20px;
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: auto;
    box-shadow: 0 0 10px var(--Light-Gray);
    margin: 50px 0 100px 0;
    padding: 25px;
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia img {
    width: 15px;
    height: 15px;
    margin: 0 0 10px 0;
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia p {
    padding: 0 5px 0 0;
    margin: 0 0 15px 0;
    font-size: 14px;
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia .informacoes-do-usuario {
    display: flex;
    gap: 10px;
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia .informacoes-do-usuario img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia .informacoes-do-usuario .usuario h4 {
    font-size: 14px;
    color: var(--Very-Dark-Blue);
}

.body .main .segundo-quadro .informacoes .relato-de-experiencia .informacoes-do-usuario .usuario p {
    font-size: 10px;
}

.body .main .segundo-quadro img {
    width: 500px;
    height: 450px;
}

/* --------------------------ORGANIZAÇÃO DO ASIDE-------------------------- */
.body .aside {
    background-color: var(--Desaturated-Blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 0 110px 0 70px;
}

.body .aside .acesso-antecipado {
    width: 580px;
    color: var(--fundo);
}

.body .aside .acesso-antecipado h1 {
    font-family: 'Raleway';
    font-size: 37px;
    margin: 0 0 25px 0;
}

.body .aside .acesso-antecipado p {
    font-family: 'Open Sans';
    font-size: 16px;
}

.body .aside form {
    display: flex;
    flex-direction: column;
}

.body .aside form input[type=email] {
    padding: 15px 180px 15px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.body .aside form input[type=email]:invalid {
    border: 1px solid red;
}

.body .aside form input[type=email]:hover {
    border: 1px solid black;
}

.body .aside form input[type=submit] {
    padding: 15px;
    width: 180px;
    background-color: var(--Bright-Blue);
    color: var(--fundo);
    border: none;
    border-radius: 5px;
}

.body .aside form input[type=submit]:hover {
    background-color: hsl(224, 93%, 68%);
    cursor: pointer;
}

/* --------------------ORGANIZAÇÃO DO RODAPÉ-------------------- */
.body .rodape {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-Dark-Blue);
    justify-content: center;
    padding: 50px 200px 0 70px;
}

.body .rodape svg {
    color: var(--fundo);
    margin: 0 0 35px 0;
}

.body .rodape .informacoes-de-contato {
    display: flex;
    justify-content: space-between;
}

.body .rodape .informacoes-de-contato .contato p {
    color: var(--fundo);
    margin: 0 0 15px 0;
}

.body .rodape .informacoes-de-contato .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: 150px;
    width: 400px;
}

.body .rodape .informacoes-de-contato .links a {
    font-family: 'Open Sans';
    color: #ffffff;
}

.body .rodape .informacoes-de-contato .links a:hover {
    color: var(--Bright-Blue);
}

.body .rodape .informacoes-de-contato .links a:focus {
    color: var(--Bright-Blue);
}

.body .rodape .informacoes-de-contato .redes-sociais {
    display: flex;
    gap: 35px;
}

.body .rodape .informacoes-de-contato .redes-sociais .fa-facebook,
.fa-twitter,
.fa-instagram {
    width: 35px;
    height: 35px;
}

.body .rodape .informacoes-de-contato .redes-sociais .fa-facebook :hover,
.fa-twitter :hover,
.fa-instagram :hover {
    color: var(--Bright-Blue);
}
